<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="VIP Motors offers a wide range of cars for passionate people who want to drive the car of their dreams.">
        <meta name="keywords" content="Car rental, Dream cars, Great deals, Lamborghini, Ferrari">
        <title>VIP Motors - eroare</title>
        <link rel="stylesheet" type="text/css" href="/resurse/css/eroare.css"
        <%- include("../fragmente/head.ejs");  %> 


    </head>
    <body class = "page">
        
    <%- include("../fragmente/header.ejs");  %> 

    <main>
        <div id="err-coloane" >
			<div id="err-imag">
				<img src="<%- locals.imagine %>" />
			</div>
			<section>
				<h2><%- locals.titlu %></h2>
				<p><%- locals.text %></p>
			</section>
		</div>
    </main>
    
    <%- include("../fragmente/footer.ejs");  %> 


    </body>
</html>